*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#172554 ;
}

.container{
    background-color: #eff6ff;
    width: 90%;
    max-width: 500px;
    padding: 30px;
    border-radius: 10px;
    margin: 100px auto 0px;
}

.container h1{
    text-align: center;
    margin-bottom: 50px;
    color: #172554;
}

.container .top-container{
    height: 35px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.top-container input{
    height: 100%;
    width: 75%;
    outline: none;
    border: 1px solid #172554 ;
    border-radius: 8px;
    background-color: #eff6ff;
    padding-left: 10px;
    font-size: 1rem;
}
.top-container button{
    height: 100%;
    width: 20%;
    float: right;
    outline: none;
    border: 1px solid #172554 ;
    border-radius: 8px;
    background-color: #172554;
    color: #eff6ff;
    font-size: 1.25rem;
    cursor: pointer;
    transition: ease 0.5s;
}

.top-container button:hover{
    background-color: #1e3a8a;
}

.bottom-container{
    height: 35px;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bottom-container input{
    accent-color: #172554;
}
.bottom-container label{
    font-size: 18px;
    font-weight: 500;
}


@media only screen and (max-width: 600px) {

    .container{
        margin-top: 150px;
    }

    .top-container button{
        font-size: 1rem;
    }

    .bottom-container{
        flex-direction: column;
        margin-top: 20px;
        height: 70px;
    }

}
